.email {
    list-style-type: "📧";
}

.tel {
    list-style-type: "📱";
}

div#contact > ul {

    > li {
        padding-left: 15px;
    }

}

div#contact {
    margin-top: 15px;
}

.brand-toplogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 15vh;
}

.nav.container > a {
    font-weight: bold;
}

.contact_link {
    font-size: 24pt;
}

.ccs-button {
    border: 1px solid #4e2360;
    padding: 1rem;
}

.ccs-button:any-link {
    color: @primary-background;
}

h1 {
    hyphens: none;
}

.prominent {
    color: #4e2360;
    font-weight: 700;
}

.article-photo {
    @media @mq-medium {
        width: 100%;
    }
    @media @mq-large {
        float: left;
        width: 50%;
        margin-right: 10px;
    }
}
